<div class="row">
	<% @products.each do |product| %>
		<div class="col-md-3">
			<div class="card">
		  		<% if product.image_url.present? %>
			  		<img src="<%= product.image_url %>" class="d-block w-100" alt="<%= product.title %>">
			  	<% else %>
			  		<img src="https://thumbs.dreamstime.com/b/no-image-available-icon-vector-illustration-flat-design-140476186.jpg" class="d-block w-100" alt="No image">
			  	<% end %>
			  <div class="card-body">
			    <h5 class="card-title"><%= product.title %></h5>
				<%= price(product.price) %>
			    <%= link_to 'Ver detalhes', product_path(product.id), class: 'btn btn-primary btn-sm' %>
			  </div>
			</div>
		</div>
	<% end %>
</div>